.player-lyric-wrapper{
  position: fixed;
  left:50%;
  transform: translateX(-50%);
  font-size: 1rem;
  border-radius: .5rem;
  top: -5.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  color:#fff;
  padding: .8rem .3rem;

}