@import "./../../../../assets/less/variable.less";
.header-menu-wapper {
  transition: @theme-transition;
  transition-delay: -1s;
  padding: 0 1rem;

  .ant-menu-sub {
    background-color:  @theme-dark-bg !important;

    a {
      color: #fff !important;
    }
  }
}

.dark {
  .header-menu-wapper {
    background-color: @theme-dark-bg;
    border-bottom: 0px !important;

    .ant-menu-overflow-item {
      color: #fff;
    }

    a {
      color: #fff !important;
    }
  }
}
