.header-menu-wapper {
  transition: all 0.5s ease-in-out;
  padding: 0 1rem;

  &.dark {
    background-color: #1a1d29;
    border-bottom: 0px !important;
    transition-delay: 0.1s;

    a {
      color: #fff !important;
    }
  }
}
