.top-ranking-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  border-radius: 0.8rem;
  overflow: hidden;

  .ranking-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    box-sizing: border-box;
    position: relative;

    img {
      width: 100%;
    }

    .header-mask {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3px);
      position: absolute;
    }

    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.5rem;
      letter-spacing: 5px;
      text-shadow: 2px 2px 2px #000;
      color: #fff;
    }
  }

  .ranking-list {
    .ranking-item {
      line-height: 2rem;
      font-size: 0.8rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #000;

      .muisc-ranking {
        width: 15%;
        text-align: center;
      }

      .muisc-name {
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .muisc-handle {
        width: 0%;
        display: flex;
        justify-content: space-around;
        transition: width 0.3s ease-in-out;
        overflow: hidden;
      }

      &:hover {
        .muisc-handle {
          width: 25%;
        }
      }

      &:nth-of-type(2n) {
        background-color: #e6e6e6;
      }
    }
  }
}

.dark {
  .ranking-list {
    .ranking-item {
      &:nth-of-type(2n - 1) {
        background-color: #484a54;
        color: #fff;
      }
    }
  }
}
