.player-menu-wrapper {
  position: fixed;
  z-index: 10000;
  left: 0%;
  height: 33.5rem;
  width: 95vw;
  padding: 0rem 1rem;
  box-sizing: border-box;
  left: 50%;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
  backdrop-filter: blur(15px);

  &.dark {
    background-color: #1a1d29cc;
    color: #fff !important;

    .music-menu-item {
      &.current-play {
        background-color: #1a1d29cc !important;

        &:before {
          display: block;
          content: "";
          position: absolute;
          left: 0.3rem;
          border-bottom: 0.4rem solid transparent;
          border-top: 0.4rem solid transparent;
          border-left: 0.4rem solid #0170fe;
          border-right: 0.4rem solid transparent;
        }
      }
    }
  }

  &.show {
    opacity: 1;
    transform: scaleY(1) translate(-50%, -50%);
    transform-origin: bottom;
  }

  &.hide {
    opacity: 0;
    transform: scaleY(0) translate(-50%, -50%);
  }

  .music-info {
    margin-bottom: 3px;
    height: 30rem;

    .music-info-title {
      padding: 0.3rem;
      box-sizing: border-box;
      font-weight: 700;
      text-align: center;
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      line-height: 2rem;
      height: 2.7rem;
    }

    .music-lyric-wrapper {
      text-align: center;
      height: 30rem;
      overflow: scroll;
      border-right: 1px solid #eee;
      overflow-x: hidden;
      overflow-y: auto;
      font-size: 0.8rem;
      .music-lyric {
        line-height: 2rem;
        transition: all 0.3s ease-in-out;

        &.active {
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }
  }

  .music-list {
    width: 100%;
    height: 30rem;
    .music-menu-title {
      display: flex;
      line-height: 2rem;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding: 0.3rem;
      box-sizing: border-box;

      .music-menu-icon {
        display: flex;
        align-items: center;

        p {
          margin-left: 0.2rem;
        }
      }

      .music-menu-clear {
        display: flex;
        align-items: center;
        cursor: pointer;

        .music-menu-close {
          margin-left: 1rem;
        }
      }
    }

    .music-menu-list {
      padding: 0.3rem 0.3rem;
      height: 30rem;
      overflow-y: auto;

      .music-menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        line-height: 1.5rem;
        cursor: pointer;
        font-size: 0.8rem;
        transition: all 0.2s ease-in-out;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;

        img {
          width: 2rem;
          height: 2rem;
        }

        &:hover {
          background-color: #eee;
        }

        &.current-play {
          background-color: #eee;

          &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0.3rem;
            border-bottom: 0.4rem solid transparent;
            border-top: 0.4rem solid transparent;
            border-left: 0.4rem solid #0170fe;
            border-right: 0.4rem solid transparent;
          }
        }

        .music-name {
          width: 20%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .singer-name {
          width: 20%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .music-handle {
          width: 12%;
          display: flex;
          justify-content: space-between;
          opacity: 0;
        }

        &:hover {
          .music-handle {
            opacity: 1;
          }
        }
      }
    }
  }
}
