.muisc-header-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  &.dark {
    background-color: #1a1d29;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.05);
  }

  .content {
    height: 100%;
    width: 100%;

    .content-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;

      .ant-menu {
        border-width: 0;
      }

      .content-left {
        line-height: 4rem;
        width: 55%;
      }

      .content-right {
        width: 45%;
        height: 2rem;
      }
    }

    .content-submenu {
      width: 100%;
    }
  }
}
