@import "./../../assets/less/variable.less";
.muisc-header-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  transition: @theme-transition;

  .content {
    height: 100%;
    width: 100%;

    .content-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;

      .ant-menu {
        border-width: 0;
      }

      .content-left {
        line-height: 2rem;
        width: 40%;
      }

      .content-right {
        width: 60%;
        right: 1rem;
      }
    }

    .content-submenu {
      width: 100%;
    }
  }
}
