.search-wrapper {
  padding: 1rem;

  .search-table-handle {
    display: flex;
    justify-content: space-between;
  }
}

.dark {
  .search-wrapper {
    .ant-table-content {
      background-color: #344258 !important;
      color: #fff;
      th {
        background-color: #344258 !important;
        color: #fff;
      }
      td {
        background-color: #344258 !important;
        color: #fff;
      }
    }

    a {
      color: #000 !important;
    }
  }
}
