.search-wrapper {
  padding: 1rem;

  &.dark {
    .ant-table-content {
      background-color: #344258 !important;
      color: #fff;
      th {
        background-color: #344258 !important;
        color: #fff;
      }
      td {
        background-color: #344258 !important;
        color: #fff;
      }
    }
  }

  .search-table-handle {
    display: flex;
    justify-content: space-between;
  }
}
