@font-face {
  font-family: "iconfont"; /* Project id 3167206 */
  src: url("//at.alicdn.com/t/font_3167206_1u8koi622lq.woff2?t=1644459761679")
      format("woff2"),
    url("//at.alicdn.com/t/font_3167206_1u8koi622lq.woff?t=1644459761679")
      format("woff"),
    url("//at.alicdn.com/t/font_3167206_1u8koi622lq.ttf?t=1644459761679")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-yinlebofangliebiaoyinle:before {
  content: "\e787";
}

.icon-heiyemoshi:before {
  content: "\e615";
}

.icon-wb_sunny:before {
  content: "\e746";
}

.icon-geciweidianji:before {
  content: "\e727";
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-shipinbofangshibofang:before {
  content: "\e62b";
}

.icon-zanting_huaban1:before {
  content: "\e687";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}
