@import "./../../assets/less/variable.less";
.player-bar-wrapper {
  width: 90%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  position: fixed;
  border-radius: 2rem;
  transition: @theme-transition;
  z-index: 100;
  bottom: 0rem;
  left: 50%;
  transform: translateY(100%) translateX(-50%);

  &.show {
    bottom: 2rem;
    transform: translateY(0%) translateX(-50%);
  }

  .content {
    padding: .8rem;
    align-items: center;
  }

  .iconfont {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.dark {
  .player-bar-wrapper {
    background-color:  #1a1d29cc;
    backdrop-filter: blur(15px);
    color: #fff !important;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);

    .player-info-wrapper {
      color: #fff;
    }

    .player-handler-wrapper {
      color: #fff;

      .player-menu-btn {
        color: #fff;
      }
    }
  }
}
