.loading-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &.golbal-loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1a1d29;
    z-index: 10000;

    .loading {
      position: absolute !important;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%);
    }
  }

  .loading {
    display: block;
    position: relative;
    margin-top: 30px;
    width: 6px;
    height: 10px;

    animation: rectangle infinite 2s ease-in-out -0.5s;

    background-color: #0170fe;
  }

  .loading:before,
  .loading:after {
    position: absolute;
    width: 6px;
    height: 10px;
    content: "";
    background-color: #0170fe;
  }

  .loading:before {
    left: -14px;

    animation: rectangle infinite 1s ease-in-out -0.4s;
  }

  .loading:after {
    right: -14px;

    animation: rectangle infinite 1s ease-in-out;
  }

  p {
    position: absolute;
    color: #0170fe;
    bottom: 0;
  }
  @keyframes rectangle {
    0%,
    80%,
    100% {
      height: 20px;
      box-shadow: 0 0 #0170fe;
    }

    40% {
      height: 30px;
      box-shadow: 0 -20px #0170fe;
    }
  }
}
