.layout-wrapper {
  width: 100%;

  .ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .ant-col {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .main-wrapper {
    background-color: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 2rem;
    min-height: 80vh;
  }
}
