@import "./../assets/less/variable.less";
.layout-wrapper {
  width: 100%;

  .ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .ant-col {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .main-wrapper {
    background-color: @theme-light-bg;
    padding-bottom: 2rem;
    min-height: calc(100vh - 15rem);
    transition:@theme-transition;
  }
}

.dark {
  background-color: @theme-dark-bg !important;

  .main-wrapper {
    background-color:  @theme-dark-bg !important;
  }
}

.fade {
  background-color: transparent;
}
