.golbal-drawer-wraper {
  .drawer-trigger {
    position: fixed;
    width: 1.5rem;
    height: auto;
    padding: 0 !important;
    right: 0;
    top: 80%;

    div {
      line-height: 1.5rem;
    }
  }
}
